html {
    margin: 0px;
    padding: 0px;
}

div {
    height: 50px;
    border: 1px solid white;
    display: flex;
}

.cabecera {
    background-color: lightgreen;
    color: red;
    font-weight: bold;
    font-size: 30px;
}
