html {
    margin: 0px;
    padding: 0px;
}

.div-double {
    margin-top: 20px;
}

body {
    background-color: rgb(241, 241, 241);
}

p {
    font-family: 'Metal Mania', cursive;
}

a {
    font-family: 'Langar', cursive;
}

h3 {
    font-family: 'Bungee Inline', cursive;
}

label {
    font-family: 'Modak', cursive;
}


select {
    color: red;
}

.div-products-targetas {
    width: 580px;
    height: 225px;
}

.cabecera:hover {
    color: rgb(255, 0, 0);
    text-shadow: 3px 3px rgb(8, 8, 8);
}

.cabecera {
    text-shadow: 3px 3px rgb(8, 8, 8);
    color: rgb(255, 0, 0);
    font-weight: bold;
    font-size: 50px;
    font-family: 'Ceviche One', cursive;
}

.hola {
    position: absolute;
    height: 300px;
    width: 100%;
}

.menu-nav a {
    font-family: 'Romanesco', cursive;
    color: red;
    font-size: 1.75em;
}

.footer-ajustes {
    color: aqua;
}

.targetas-products {
    width: 70%;
    height: 100%;
}
