html{
    margin: 0px;
    padding: 0px;
}



div{height:50px;border: 1px solid white;}
		.cabecera{background-color: lightgreen; color: red; font-weight: bold; font-size: 30px;}
		.azul{background-color: lightblue;}
		.esp{background-color: cyan;}
		.gris{background-color: grey;}
		.naranja{background-color: orange;}


